affine==2.3.0
anyio==3.2.1
argon2-cffi==20.1.0
args==0.1.0
arrow==0.17.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.1
blume==0.1
boto3==1.18.1
botocore==1.21.1
branca==0.4.2
Cartopy==0.19.0.post1
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.3
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
clint==0.5.1
colorama==0.4.4
contextily==1.1.0
cycler==0.10.0
Cython==0.29.24
decorator==4.4.2
defusedxml==0.7.1
descartes==1.1.0
entrypoints==0.3
et-xmlfile==1.1.0
Fiona==1.8.20
folium==0.12.1
frictionless==4.14.0
geographiclib==1.52
geopandas==0.9.0
geoplot==0.4.3
geopy==2.2.0
greenlet==1.1.0
idna==3.2
ijson==3.1.4
iniconfig==1.1.1
ipykernel==5.4.3
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
json5==0.9.6
jsonlines==2.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.9.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.1
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
linear-tsv==1.1.0
lxml==4.6.3
mapclassify==2.4.2
MarkupSafe==1.1.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
matplotlib-scalebar==0.7.2
MechanicalSoup==1.1.0
mercantile==1.2.1
mistune==0.8.4
munch==2.5.0
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.0
numpy==1.21.1
openpyxl==3.0.7
OWSLib==0.24.1
packaging==21.0
pandas==1.3.0
pandocfilters==1.4.3
parso==0.8.2
petl==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pip-review==1.1.0
pipupgrade==1.9.0
pluggy==0.13.1
proj==0.2.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pycparser==2.20
pygeos==0.10.1
Pygments==2.9.0
pyparsing==2.4.7
pyproj==3.1.0
pyrsistent==0.18.0
pyshp==2.1.3
pytest==6.2.4
python-dateutil==2.8.2
python-slugify==4.0.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.1
QtPy==1.9.0
rasterio==1.2.6
requests==2.26.0
requests-unixsocket==0.2.0
rfc3986==1.5.0
Rtree==0.9.7
s3transfer==0.5.0
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
Send2Trash==1.7.1
Shapely==1.7.1
shellingham==1.4.0
simpleeval==0.9.10
simplejson==3.17.3
six==1.16.0
sniffio==1.2.0
snuggs==1.4.7
soupsieve==2.2.1
SQLAlchemy==1.4.21
stringcase==1.2.0
tabulator==1.53.5
terminado==0.10.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==2.2.0
toml==0.10.2
tornado==6.1
tqdm==4.61.2
traitlets==5.0.5
typer==0.3.2
unicodecsv==0.14.1
urllib3==1.26.6
validators==0.18.2
voila==0.2.10
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
widgetsnbextension==3.5.1
xlrd==2.0.1
yaspin==1.3.0
